
#navbar {
	list-style: none;
	margin: 0;
	padding: 0;
	background: rgb(17, 17, 17);
	
	border-style: solid;
	border-width: 2px;
	border-color: rgb(29, 29, 29);
	
	position: fixed;
	width: 15em;
	height: calc(100% - 4px);
	
	overflow: auto;
}

#navbar a {
	display: block;
	padding: 0.5em;
	text-decoration: none;
	color: inherit;
	
	border-style: solid;
	border-width: 2px;
	border-color: transparent;
	
	overflow-x: hidden;
}

#navbar a h2 {
	margin-block-start: 0;
	margin-block-end: 0;
	
	font-weight: inherit;
}

#navbar #Overview {
	background-color: rgb(35, 67, 163);
}

#navbar #Overview:hover {
	background-color: rgb(20, 50, 139);
}

#navbar a:hover:not(#Overview) {
	background-color: rgb(32, 29, 29);
}

#navbar a:hover {
	border-style: dashed;
	border-width: 2px;
	border-color: black;
}

#navbar .icon {
	width: 40px;
	height: 40px;
}