#navbar {
	list-style: none;
	
	position: fixed;
	z-index: 1000;
	margin: 0;
	padding: 0;
	
	background: var(--background-darkest);
	display: flex;
	flex-direction: column;
	
	transition: width 200ms ease-out;
}

#navbar a {
	display: flex;
	align-items: center;
	height: 5rem;
	text-decoration: none;
	color: var(--white);
	
	overflow: hidden;
}

#navbar a:hover {
	background: var(--blacker);
}

#navbar a img {
	min-width: 2rem;
	max-width: 2rem;
	margin: 0 1.5rem;
	color: var(--white);
}

#navbar a h2 {
	opacity: 0;
	color: var(--white);
}


#navbar #Overview {
	background-color: rgb(24, 49, 122);
}

#navbar #Overview:hover {
	background-color: rgb(14, 35, 97);
}

#navbar #Settings {
	background-color: var(--background-dark);
}

#navbar #Settings:hover {
	background: var(--background-darker);
}


@media only screen and (max-device-width: 800px) {
	#navbar {
		bottom: 0;
		width: 100%;
		height: 5rem;
		
		flex-direction: row;
	}
	
	#navbar h2 {
		display: none;
	}
	
	
	#navbar li:last-child {
		margin-left: auto;
	}
	
	#main {
		margin-left: 0;
		margin-bottom: calc(5rem + 15px);
	}
}

@media only screen and (min-device-width: 800px) {
	#navbar {
		width: 5rem;
		height: 100%;
	}
	
	#navbar:hover {
		width: 20rem;
	}
	
	#navbar:hover h2 {
		display: inline;
		opacity: 1;
		transition: opacity var(--speed);
	}
	
	#navbar li:last-child {
		margin-top: auto;
	}
}