#boxes {
	margin: 15px;
	display: grid;
	grid-gap: 20px;

	grid-template-columns: repeat(auto-fit, minmax(840px, 1fr));
}

.setting input {
	color: black;
}

.settingsbox {
	border-style: solid;
	border-radius: 25px;
	border-width: 3px;
	border-color: rgb(58, 58, 58);

	background: rgb(32, 29, 29);
	background: linear-gradient(to bottom right, rgb(20, 21, 22), rgb(30, 30, 30));

	overflow: hidden;
}

.settings {
	margin-top: 0;
	margin-bottom: 0;

	width: 100%;
}

.setting {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;

	padding-left: 20px;
	padding-right: 20px;
}

.setting .additional {
	font-size: 75%;
	color: darkgrey;
}

.topsetting {
	display: flex;
	align-items: center;
	justify-content: space-between;

	overflow: hidden;

	padding-left: 20px;
}

.topsetting div {
	line-break: strict;
}

.reset, .save {
	padding-top: 7px;
	padding-bottom: 7px;
	height: 2.2em;
	border-width: 4px;

	margin-bottom: 10px;
}


.seperator {
	border-top: 2px solid rgb(58, 58, 58);
}